.collection-item {
  width: 22%;
  height: 20rem;
  position: relative;
  transition: all 0.3s;

  &:hover {
    .collection-item__image {
      opacity: 0.8;
    }

    .main-button {
      opacity: 0.86;
    }
  }

  &__image {
    height: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__flex {
    height: 10%;
    padding: 0 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-button {
    width: 80%;
    opacity: 0;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
}
