.cart-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 240px;
  max-height: 380px;
  padding: 1.2rem;
  background-color: #fff;
  border: 1px solid #000;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
  }

  &__empty-message {
    font-size: 1.125rem;
    text-align: center;
  }
}
