.header {
  padding: 2rem 0;

  .logo-container {
    width: 4.35rem;

    .logo {
      width: 100%;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    position: relative;

    .nav-links {
      display: flex;
      gap: 2rem;
    }

    .nav-link {
      cursor: pointer;

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }

    &__cart-dropdown {
      position: absolute;
      top: 50px;
      right: -5px;
    }
  }
}
