.checkout-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__image-container {
    width: 20%;
  }

  &__image {
    width: 80%;
  }

  span {
    width: 20%;
    text-align: center;
  }

  &__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.45rem;
  }

  &__arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
  }

  &__remove {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    width: 20%;
    text-align: right;
    padding: 0 1rem;
  }
}
