@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}
